body{
    background-color:#A37F52;
    background-image: url(images/wooden-background.jpg);
    background-size: cover;
    background-position: center;
}



header h1{
    text-align: center;
    color: white;
    text-shadow: -1px 1px 2px #000,
				  1px 1px 2px #000,
				  1px -1px 0 #000,
				  -1px -1px 0 #000;
    font-family: 'Yellowtail', 'brush script mt', cursive;
    font-size: 72px;
    margin: 30px auto;
}


h2, h3, p, li{
    font-family: Helvetica, sans-serif;
    color: white;
}

h2{
    font-size: 20px;
}

h3{
    font-size: 16px;
}

li{
    margin: 0.5em 0;
}

.content-box{
    background-color:#3B5946;
    border: 3pt solid black;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    margin: 0 auto;
}

h2.start{
    text-align: center;

}

.group{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.item{
    flex: 1;
    margin-right: 10px;
}


ol{
    list-style: none;
}

h3, p{
    text-align: center;
}

section.button{
    display: flex;
    justify-content: center;
}

img{
    width: 60%;
    height: auto;
}

.image{
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.wrapper{
    width: 60%;
    margin: 0 auto;
}

button{
    background-color:#07400F;
    border: 1pt solid white;
    color: white;
    padding: 10px 20px;
    text-align: center;
    border-radius: 5px;
} 

@media all and (min-width: 800px){
    p, li{
        font-size: 18px;
    }
    .content-box{
        width: 50%;
        padding: 30px;
    }

    .wrapper{
        width: 80%;
    }

    header h1{
        font-size: 96px;
    }
    h2{
        font-size: 24px;
    }

    h3{
        font-size: 20px;
    }
    img{
        width: 50%;
    }
}
