h1{
    text-align: center;
    padding: 100px 0;

}

.content-box{
    border: 3pt solid black;
    width: 60%;
    margin: 0 auto;
}

.group{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


form{
    margin: 40px;
    padding: 0 25%
}

ol{
    list-style: none;
}